name: Sync to Hugging Face Hub

on:
  push:
    branches: [main]

    # Force run on workflow dispatch
  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Install Hugging Face Hub CLI
        run: pip install huggingface_hub

      - name: Upload to Hub
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          huggingface-cli upload rubenppombo/birds_backend . --repo-type space --token $HF_TOKEN
