name: Sync to Hugging Face Hub

on:
  push:
    branches: [main]

    # Force run on workflow dispatch
  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Push to Hub
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          git config --global user.email "bot@github.com"
          git config --global user.name "GitHub Actions"
          git remote add space https://rubenppombo:$HF_TOKEN@huggingface.co/spaces/rubenppombo/birds_backend
          git push --force space main
